venv/
.env
*.pdf
*.jpg
*.png
__pycache__/
teste.py
para_testes/teste_playwright.py
para_testes/estado_login.json
para_testes/salvar_login.py
para_testes/emitir_extrato.py
para_testes/termo.py
para_testes/gerar_lista_profissoes.py
